html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: var(--theme-colors-background);
	transition: background-color var(--style-transition-theme);
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--theme-colors-text-header);
	transition: color var(--style-transition-theme);
	font-family: "Work Sans", sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 6em;
}

h2 {
	font-weight: 700;
	font-size: 3em;
	font-family: "IBM Plex Mono", monospace;
}

h3 {
	font-weight: 600;
	font-size: 2.25em;
}

h4 {
	font-weight: 600;
	font-size: 1.2em;
}

p {
	font-weight: 300;
	font-size: 1em;
	font-family: "IBM Plex Mono", monospace;
	color: var(--theme-colors-text-body);
	transition: color var(--style-transition-theme);
	line-height: 2.1;
}